<div class="col-lg-4 col-md-6">
  <div class="card card-plain card-blog">
    <div class="card-image border-radius-lg position-relative">
      <a href="{{ url_for('reviews.review', review_id=review.id) }}">
        <img
          class="w-80 border-radius-lg move-on-hover shadow"
          {#
          src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/color-bags.jpg"
          #}
          src="{{ url_for('static', filename='images/articles/' + review.article.image_file ) }}"
        />
      </a>
    </div>
    <div class="card-body px-0">
      <div class="author align-itmes-center">
        <a
          href="{{ url_for('users.user_reviews', username=review.author.username) }}"
        >
          <img
            src="{{ url_for('static', filename='images/profile_pics/' + review.author.image_file )}}"
            class="avatar shadow"
          />
        </a>
        <div class="name ps-3 mb-3">
          <span
            ><a
              href="{{ url_for('users.user_reviews', username=review.author.username) }}"
              >{{ review.author.username }}</a
            ></span
          >
          <div class="stats">
            <small
              >Posted on {{ review.date_posted.strftime('%d-%m-%Y') }}</small
            >
          </div>
        </div>
      </div>
      <span
        class="
          text-gradient text-primary text-uppercase text-xs
          font-weight-bold
          my-2
        "
        >{{ review.rating}} / 10</span
      >
      <h5>
        <a
          href="{{ url_for('reviews.review', review_id=review.id) }}"
          class="text-dark font-weight-bold"
          >Reviewing: {{ review.article.title }}</a
        >
      </h5>
      <a
        href="{{ url_for('reviews.review', review_id=review.id) }}"
        class="text-info icon-move-right"
        >Read Full Review
        <i class="fas fa-arrow-right text-sm"></i>
      </a>
    </div>
  </div>
</div>
