{% extends "layout.html" %} {% block content %}
<div class="row justify-content-center">
  <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column mx-lg-0 mx-auto">
    <div class="card card-plain">
      <div class="card-header pb-0 text-left">
        <h4 class="font-weight-bolder">Log In</h4>
      </div>
      <div class="card-body">
        <form role="form" method="POST">
          {{ form.hidden_tag() }}
          <div class="mb-3">
            {{ form.email.label(class="form-control-label") }} {% if
            form.email.errors %} {{ form.email(class="form-control
            form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.email.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %} {{ form.email(class="form-control form-control-lg") }} {%
            endif %}
          </div>
          <div class="mb-3">
            {{ form.password.label(class="form-control-label") }}{% if
            form.password.errors %} {{ form.password(class="form-control
            form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.password.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %} {{ form.password(class="form-control form-control-lg") }}
            {% endif %}
          </div>
          <div class="form-check form-switch">
            {{ form.remember(class="form-check-input") }} {{
            form.remember.label(class="form-check-label") }}
          </div>
          <div class="text-center">
            {{ form.submit(class="btn btn-lg bg-gradient-primary btn-lg w-100
            mt-4 mb-0") }}
          </div>
        </form>
      </div>
      <div class="card-footer text-center pt-0 px-lg-2 px-1">
        <p class="mb-4 text-sm mx-auto">
          <a href="{{ url_for('users.reset_request') }}"> Forgot password? </a>
        </p>
        <p class="mb-4 text-sm mx-auto">
          Don't have an account?
          <a
            href="{{ url_for('users.register')}}"
            class="text-primary text-gradient font-weight-bold"
            >Sign up</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
