{% extends "layout.html" %} {% block content %}
<!-- START Blogs w/ 4 cards w/ image & text & link -->
<div class="row">
  <div class="col-lg-6">
    <h3 class="mb-5">{{ tag.name }} Articles</h3>
  </div>
</div>
<div class="row">
  {% for article in articles%}
  <div class="col-md-4">
    <div class="card card-plain card-blog">
      <div class="card-image border-radius-lg position-relative">
        <img
          class="w-80 border-radius-lg shadow"
          src="{{ url_for('static', filename='images/articles/' + article.image_file )}}"
        />
      </div>
      <div class="card-body px-0">
        <h5>
          <a href="{{ article.url }}" class="text-dark font-weight-bold"
            >{{ article.title }}</a
          >
        </h5>
        <a href="{{ article.url }}" class="text-info icon-move-right"
          >Read Original Article
          <i class="fas fa-arrow-right text-sm"></i>
        </a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock content %}
